
body{
    font-family: 'Heebo', sans-serif;
}
.container{
    margin-bottom: 50px;
}
.buy-now-button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 7px;
    padding: 7px 25px;
}
.see-all{
    color: orange;
}
.card{
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px  5px rgb(218, 199, 199);
}
.card-body{
    text-align: center;
}
.categories{
    text-align: center;
    margin-top: 200px;
}
footer{
    color: gray;
    font-size: 15px;
    text-align: center;
}